API_KEY=123
DB_URL=postgresql+asyncpg://postgres:postgres@payments-db:5432/payments_service_db
DB_URL_SYNC=postgresql://postgres:postgres@payments-db:5432/payments_service_db
DB_ECHO=True

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=payments_service_db

RABBIT_URL=amqp://guest:guest@rabbit_mq:5672/
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest